/* General */

html {
    scroll-behavior: smooth;
}

section {
    width: 100vw;
    padding: 60px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-header {
    text-align: center;
    width: 60%;
    margin-bottom: 20px;
}

.section-header h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.section-header p {
    font-size: 1.4rem;
    margin-bottom: 10px;
}

/* Header and Navigation bar */

header {
    z-index: 2;
    padding: 0 20px;
    background-color: black;
    width: 99%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    position: fixed;
}

header a {
    text-decoration: none;
    color: white;
    margin-right: 10px;
}
  
#brand {
    font-weight: bold;
    font-size: 18px;
    display: flex;
    align-items: center;
}
  
#brand a {
    color: #06D6A0;
}
  
header ul {
    list-style: none;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
  
header ul a {
    color: white;
}
  
header ul li {
    padding: 5px;
    margin-right: 5px;
}
  
#hamburger-icon {
    margin: auto 0;
    display: none;
    cursor: pointer;
    margin-right: 40px;
}
  
#hamburger-icon div {
    width: 35px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}
  
.open .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
}
  
.open .bar2 {
    opacity: 0;
}
  
.open .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -8px);
    transform: rotate(45deg) translate(-6px, -8px);
}
  
.open .mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
  
.mobile-menu {
    z-index: 2;
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    height: 180px;
    width: 100%;
    background-color: #1d1f1d;
}
  
.mobile-menu li {
    margin-bottom: 10px;
}
  
@media only screen and (max-width: 991px) {
    header nav {
      display: none;
    }
  
    #hamburger-icon {
      display: block;
    }
}

@media only screen and (min-width: 991.1px) {
    header ul li:hover {
        transform: scale(1.1);
        transition: 0.3s;
    }
}

button {
    padding: 5px 20px;
    background-color: transparent;
    cursor: pointer;
    transition: all .1s;
    font-weight: bold;
    margin: 10px auto;
}

@media only screen and (max-width: 991px) {
    .button1 {
        border: none;
        color: white;
        background-color: green;
    }

    .button2 {
        border: none;
        color: white;
        background-color: black;
    }
}

@media only screen and (min-width: 991.1px) {
    .button1:hover {
    box-shadow: inset 150px 0 0 green;
    color: white;
}

    .button2:hover {
    box-shadow: inset 150px 0 0 black;
    color: white;
}

    .button1 {
    border: 2px solid green;
    color: green;
    box-shadow: inset 0px 0px 0px green;
}

    .button2{
    border: 2px solid black;
    color: black;
    box-shadow: inset 0px 0px 0px black;
}
}

/* Hero (Home) section */

#hero {
    width: 100vw;
    height: 100vh;
    background-image: url(./images/stock-background.webp);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: white;
    text-align: center;
}

#hero h1 {
    font-size: 3rem;
}

#hero h2 {
    font-size: 2rem;
}

#hero p {
    font-size: 1.5rem;
}

/* About section */

.about-container {
    width: 60%;
}

.about-bio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-bio span {
    font-weight: bold;
}

.about-skills {
    width: 60%;
}

/* Projects section */

#projects {
    background-color: rgba(230, 230, 230,.4);
}

#projects ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#projects ul li {
    background-color: transparent;
}

.row {
    width: 1078px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 5px gray;
    transform: scale(1.05);
}

.column1 {
    width: 400px;
    height: 368px;
    background-color: white;
    line-height: 1.1em;
}

.column1 p {
    padding: 10px;
}

.project-title {
    font-size: 1.3rem;
    font-weight: bold;
    padding: 10px;
}

.column2 {
    width: 678px;
    height: 368px;
}

.column2 img {
    width: 100%;
    height: 100%;
}

.project-links {
    padding: 10px;
}

@media only screen and (max-width: 1150px) {
    .row {
        margin: 10px auto;
        width: 80%;
        flex-direction: column-reverse;
        box-shadow: none;
    }

    .column1 {
        width: 100%;
        height: auto;
        background-color: transparent;
    }

    .column2 {
        width: 100%;
        height: auto;
    }
}

/* Contact & footer */

#contact {
    background-color: black;
    color: white;
}

.contact-heading {
    font-size: 2rem;
    font-weight: bold;
    color: white;
    text-align: center;
}

.contact-heading span {
    text-decoration: line-through;
}

.contact-icons {
    font-size: 2.5rem;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.contact-icons i {
    margin: 10px;
    color: white;
    cursor: pointer;
    transition: all .2s;
}

@media only screen and (min-width: 991.1px) {
    .contact-icons i:hover {
        transform: scale(1.2);
        color: #06D6A0;
    }
}

@media only screen and (max-width: 991px) {
    .contact-icons {
        font-size: 2rem;
    }
}